[class*="col-"] {
  /*padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;*/
  /*border: 1px solid rgba(86,61,124,.2);*/
}

.row {
  /*border: 1px solid #ddd;*/
}

.panel {
    margin: 20px 0 0 0;
}

.panel-heading {
    font-size: 1.5rem;
	font-weight: bold;
}

.panel-subheading {
    font-weight: normal;
    float: right;
}

.panel-body-short {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pagination {
    margin: 0 0 0 0;
}

.pagination>li>a, .pagination>li>span {
    padding: 6px 6px;
}

.pagination-like {
    margin: 20px 0;
}

hr{
    margin-top: 0px;
    margin-bottom: 0px;
}