{% extends "base.html" %}


{% block app_content %}
<div class="container">
    <div class="page-header">
        <h2>Welcome!</h2>
    </div>
    <div>
        <p>
            Hello world! Thank you for visiting this little website. It is a small-scale-but-fully-featured project that I am building using Flask,
            Bootstrap, and other tools in the Python web development stack. Its main purpose is to be a living document,
            an exercise to consolidate what I've been learning about web dev.
        </p>
        <p>
            While the creation of this website is supposed to be a learning project in and of itself, the finished app
            will hopefully also have some use as a learning tool. It will allow website users to create their own
            personal flash card collection and interactively study the cards. Users can use the app anywhere; the only thing needed
            is an internet connection and an up-to-date browser.
        </p>
    </div>
       <div class="page-header">
        <h2>Getting started</h2>
    </div>
    <div>
        <p>Usage of the app is very simple:</p>
        <ol>
            <li>
                Start by registering yourself as a user <a href="{{ url_for('auth.register') }}">here</a> and then log into the app.
            </li>
            <li>
                Under the <a href="{{ url_for('cards.cards') }}">Cards</a> tab, you can create and manage your personal card collection. Add a few cards there via the
                interactive web form.
            </li>
            <li>
                The <a href="{{ url_for('learn.learn') }}">Learn</a> tab allows you to study the contents of the flash cards. You will be presented
                with a random card from your collection, for which you then indicate if you know it or not by clicking
                the check or cross buttons. You can flip the card by tapping it.
            </li>
            <li>
                The app keeps track of which cards you have marked as known or unknown, and increases or decreases their
                level accordingly. Higher-level cards will be presented for review after longer time intervals, to
                increase the learning difficulty.
            </li>
            <li>
                On your <a href="{{ url_for('user.profile') }}">Profile</a> page, you can manage your account and obtain some statistics of your learning
                performance.
            </li>
        </ol>
    </div>
    <div class="page-header">
        <h2>API</h2>
    </div>
    <div>
        <p>
            Some things are just difficult to do via a graphical interface. For instance, adding and managing lots of
            cards via web forms alone can end up very tedious very quickly. To make your life easier, the app has a
            REST-based API handling just these tasks.
        </p>
        <p>
            Every registered user can access the API to manage his or her own card collection. Authorization and
            authentication are implemented via a simple time-limited token system. Simply make a POST request to the
            tokens endpoint ({{ url_for('api.get_token') }}) using your email and password in a basic auth
            header. All further requests to the API require you to include this bearer token in the headers.
        </p>
        <p>
            The full API spec with usage examples is available <a href="{{ api_docs_url }}">here</a>.
        </p>
    </div>
    <div class="page-header">
        <h2>Future developments</h2>
    </div>
    <div>
        <p>The following features (a.o.) may be added in the future</p>
        <ul>
            <li>
                Organizing cards into different themed collections.
            </li>
            <li>
                Extend card content beyond simple text (e.g. formatting, representing math or code)
            </li>
            <li>
                Account activation and recovery via email.
            </li>
            <li>
                Sharing cards across users.
            </li>
            <li>
                <em>... Your suggestion here ...</em>
            </li>
        </ul>
    </div>
</div>
<section>
    <footer class="footer">
        <div class="container">
            <p class="text-center text-muted">&copy Sander Dedoncker, 2022</p>
        </div>
    </footer>
</section>
{% endblock %}