{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('cards.static', filename='styles.css') }}">
{% endblock %}

{% block title %}
Cards
{% endblock %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-1 col-stacking">
            <a href="{{ url_for('cards.add_card') }}" class="btn btn-primary">Add new card</a>
        </div>
       <div class="col-xs-4 col-md-2 text-right col-stacking">
           <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Sort cards
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="{{ url_for('cards.cards', query=query, sort='added', order='down', per_page=per_page) }}">Date added (newest first)</a></li>
                <li><a href="{{ url_for('cards.cards', query=query, sort='added', order='up', per_page=per_page) }}">Date added (oldest first)</a></li>
                <li><a href="{{ url_for('cards.cards', query=query, sort='level', order='up', per_page=per_page) }}">Level (lowest first)</a></li>
                <li><a href="{{ url_for('cards.cards', query=query, sort='level', order='down', per_page=per_page) }}">Level (highest first)</a></li>
                <li><a href="{{ url_for('cards.cards', query=query, sort='seen', order='down', per_page=per_page) }}">Date reviewed (newest first)</a></li>
                <li><a href="{{ url_for('cards.cards', query=query, sort='seen', order='up', per_page=per_page) }}">Date reviewed (oldest first)</a></li>
              </ul>
            </div>
        </div>
        <div class="col-xs-4 col-md-1 text-right col-stacking">
           <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Show cards
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="{{ url_for('cards.cards', query=query, sort=sort, order=order, per_page=5) }}">5 per page</a></li>
                <li><a href="{{ url_for('cards.cards', query=query, sort=sort, order=order, per_page=10) }}">10 per page (default)</a></li>
                <li><a href="{{ url_for('cards.cards', query=query, sort=sort, order=order, per_page=20) }}">20 per page</a></li>
                <li><a href="{{ url_for('cards.cards', query=query, sort=sort, order=order, per_page=50) }}">50 per page</a></li>
                <li><a href="{{ url_for('cards.cards', query=query, sort=sort, order=order, per_page=100) }}">100 per page</a></li>
                <li><a href="{{ url_for('cards.cards', query=query, sort=sort, order=order, per_page=200) }}">200 per page</a></li>
              </ul>
            </div>
        </div>
        <div class="col-md-1 text-center"></div>
        <div class="col-xs-12 col-md-7 text-center col-stacking">
            <form action="{{ url_for('cards.cards') }}" method="GET">
                <div class="input-group">
                  <input type="text" class="form-control" value="{{ query if query else ''}}" name="query">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                    <a class="btn btn-default" href="{{ url_for('cards.cards', sort=sort, order=order, per_page=per_page) }}">Clear</a>
                  </div>
                </div>
                {% if sort %}
                <input type="hidden" name="sort" value="{{ sort }}">
                {% endif %}
                {% if order %}
                <input type="hidden" name="order" value="{{ order }}">
                {% endif %}
                {% if per_page %}
                <input type="hidden" name="per_page" value="{{ per_page }}">
                {% endif %}
            </form>
        </div>
        <div class="col-xs-12 text-center col-stacking">
            {{ pagination.links }}
        </div>
    </div>
<!--    <ul class="list-group">-->
    {% for card, score in cards_scores %}
<!--        <li class="list-group-item">-->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2 col-xs-5">
                        No. {{ card.id }} <span class="panel-subheading">({{ card.added_on.date() }})</span>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        {% if score: %}
                        Lvl. {{ score.score  }} <span class="panel-subheading">({{ score.last_seen_on.date() }})</span>
                        {% else: %}
                        (Unseen)
                        {% endif %}
                    </div>
                    <div class="col-md-8 col-xs-2 text-right">
                        <a class="btn btn-xs btn-warning glyphicon glyphicon-cog" href="{{ url_for('cards.card_detail', card_id=card.id) }}"></a>
                    </div>
                </div>
            </div>
<!--                    <ul class="list-group">-->
            <div class="panel-body panel-body-short">
                <strong>Front: </strong>{{ card.front }}
            </div>
            <hr>
            <div class="panel-body panel-body-short">
                <strong>Back: </strong>{{ card.back }}
            </div>
<!--                    </ul>-->
        </div>
    </div>
<!--        </li>-->
        {% endfor %}
<!--    </ul>-->
    <div class="row">
        <div class="panel"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            {{ pagination.links }}
        </div>
    </div>
</div>
{% endblock %}