{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('cards.static', filename='styles.css') }}">
{% endblock %}

{% block title %}
Cards
{% endblock %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <a href="{{ url_for('cards.add_card') }}" class="btn btn-primary">Add new card</a>
        </div>
       <div class="col-xs-6 col-md-2 text-right">
           <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Sort cards
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="{{ url_for('cards.cards', sort='added', order='down')}}">Date added (newest first)</a></li>
                <li><a href="{{ url_for('cards.cards', sort='added', order='up')}}">Date added (oldest first)</a></li>
                <li><a href="{{ url_for('cards.cards', sort='level', order='up')}}">Level (lowest first)</a></li>
                <li><a href="{{ url_for('cards.cards', sort='level', order='down')}}">Level (highest first)</a></li>
                <li><a href="{{ url_for('cards.cards', sort='seen', order='down')}}">Date reviewed (newest first)</a></li>
                <li><a href="{{ url_for('cards.cards', sort='seen', order='up')}}">Date reviewed (oldest first)</a></li>
              </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 text-center">
            {{ pagination.links }}
        </div>
    </div>
<!--    <ul class="list-group">-->
    {% for card, score in cards_scores %}
<!--        <li class="list-group-item">-->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2 col-xs-5">
                        No. {{ card.id }} <span class="panel-subheading">({{ card.added_on.date() }})</span>
                    </div>
                    <div class="col-md-2 col-xs-5">
                        {% if score: %}
                        Lvl. {{ score.score  }} <span class="panel-subheading">({{ score.last_seen_on.date() }})</span>
                        {% else: %}
                        (Unseen)
                        {% endif %}
                    </div>
                    <div class="col-md-8 col-xs-2 text-right">
                        <a class="btn btn-xs btn-warning glyphicon glyphicon-cog" href="{{ url_for('cards.card_detail', card_id=card.id) }}"></a>
                    </div>
                </div>
            </div>
<!--                    <ul class="list-group">-->
            <div class="panel-body panel-body-short">
                <strong>Front: </strong>{{ card.front }}
            </div>
            <hr>
            <div class="panel-body panel-body-short">
                <strong>Back: </strong>{{ card.back }}
            </div>
<!--                    </ul>-->
        </div>
    </div>
<!--        </li>-->
        {% endfor %}
<!--    </ul>-->
    <div class="row">
        <div class="panel"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            {{ pagination.links }}
        </div>
    </div>
</div>
{% endblock %}