{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('user.static', filename='styles.css') }}">
{% endblock %}

{% block title %}
Profile
{% endblock %}

{% block app_content %}
<div class="container">
    <div class="page-header"><h3>Account & Security</h3></div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <span>User:</span>
                    </div>
                    <div class="col-xs-6">
                        <span>{{ user.username }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <span>Email:</span>
                    </div>
                    <div class="col-xs-6">
                        <span>{{ user.email }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <span>Active since:</span>
                    </div>
                    <div class="col-xs-6">
                        <span>{{ user.added_on.date() }}</span>
                    </div>
                </div>
            </div>
            <div class="row panel text-center">
                <div class="col-xs-3">
                    <a class="btn btn-warning" href="{{ url_for('user.edit_user') }}">Edit Info</a>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-warning" href="{{ url_for('user.reset_password') }}">Reset Password</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-danger" href="{{ url_for('user.delete_user') }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header"><h3>Card Stats</h3></div>
    {% if total == 0: %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                    <div class="col-xs-12 text-center">
                        You don't have any cards yet!
                    </div>
                </div>
        </div>
    </div>
    {% else: %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                    <div class="col-xs-1">
                        <span class="font-weight-bold">Lvl. </span>
                    </div>
                    <div class="col-xs-11 text-center">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 50%">
                                Reviewed </div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 50%">
                                Reviewable</div>
                        </div>
                    </div>
                </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-1">
                        N/A
                    </div>
                    <div class="col-xs-11 text-center">
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ unseen/total*100 }}%">
                                {{ unseen }}</div>
                        </div>
                    </div>
                </div>
            </li>
            {% for score, stat in score_stats.items(): %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-1">
                        {{ score }}
                    </div>
                    <div class="col-xs-11 text-center">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ stat['reviewed']/total*100 }}%">
                                {{ stat['reviewed'] }}</div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ stat['reviewable']/total*100 }}%">
                                {{ stat['reviewable'] }}</div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-1">
                        Tot.
                    </div>
                    <div class="col-xs-11 text-center">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ total_stat['reviewed']/total*100 }}%">
                                {{ total_stat['reviewed'] }}</div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ total_stat['reviewable']/total*100 }}%">
                                {{ total_stat['reviewable'] }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}